In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Academic Progress Report/Week4/president_heights.csv')

In [ ]:
selected_column = df[['order','name','height(cm)']]
print(selected_column.to_string(index=False))

 order                   name  height(cm)
     1      George Washington         189
     2             John Adams         170
     3       Thomas Jefferson         189
     4          James Madison         163
     5           James Monroe         183
     6      John Quincy Adams         171
     7         Andrew Jackson         185
     8       Martin Van Buren         168
     9 William Henry Harrison         173
    10             John Tyler         183
    11          James K. Polk         173
    12         Zachary Taylor         173
    13       Millard Fillmore         175
    14        Franklin Pierce         178
    15         James Buchanan         183
    16        Abraham Lincoln         193
    17         Andrew Johnson         178
    18       Ulysses S. Grant         173
    19    Rutherford B. Hayes         174
    20      James A. Garfield         183
    21      Chester A. Arthur         183
    23      Benjamin Harrison         168
    25       William McKinley         170
    26     Theodore Roosevelt         178
    27    William Howard Taft         182
    28         Woodrow Wilson         180
    29      Warren G. Harding         183
    30        Calvin Coolidge         178
    31         Herbert Hoover         182
    32  Franklin D. Roosevelt         188
    33        Harry S. Truman         175
    34   Dwight D. Eisenhower         179
    35        John F. Kennedy         183
    36      Lyndon B. Johnson         193
    37          Richard Nixon         182
    38            Gerald Ford         183
    39           Jimmy Carter         177
    40          Ronald Reagan         185
    41      George H. W. Bush         188
    42           Bill Clinton         188
    43         George W. Bush         182
    44           Barack Obama         185

### Mean, Median, Mode, Min, Max, Standard Deviation

In [ ]:
import statistics

In [ ]:

# Calculate mean
mean_height = df['height(cm)'].mean()

# Calculate median
median_height = df['height(cm)'].median()

# Calculate mode
mode_height = statistics.mode(df['height(cm)'])

# Calculate maximum and minimum values
max_height = df['height(cm)'].max()
min_height = df['height(cm)'].min()

# Calculate standard deviation
std_deviation = df['height(cm)'].std()

print("Mean:", mean_height)
print("Median:", median_height)
print("Mode:", mode_height)
print("Maximum:", max_height)
print("Minimum:", min_height)
print("Standard Deviation:", std_deviation)

Mean: 179.73809523809524
Median: 182.0
Mode: 183
Maximum: 193
Minimum: 163
Standard Deviation: 7.0158688553582955

##Skewness

In [ ]:
skewness = df['height(cm)'].skew()
print("Skewness:", skewness)

Skewness: -0.2520337007049649

##Quartiles

In [ ]:
quantiles = df['height(cm)'].quantile([0.25, 0.75])
Q1 = quantiles[0.25]
Q3 = quantiles[0.75]

print(f"Q1: {Q1}\nQ3: {Q3}")

Q1: 174.25
Q3: 183.0

## Normalization

###Min-Max

In [ ]:
min_value = df['height(cm)'].min()
max_value = df['height(cm)'].max()
df['max_min_normalized'] = (df['height(cm)'] - min_value) / (max_value - min_value)

###Z-Score

In [ ]:
mean_value = df['height(cm)'].mean()
std_value = df['height(cm)'].std()
df['z_score_normalized'] = (df['height(cm)'] - mean_value) / std_value

In [ ]:

selected_columns = df[['order', 'name', 'max_min_normalized', 'z_score_normalized']]
print(selected_columns.to_string(index = False))

 order                   name  max_min_normalized  z_score_normalized
     1      George Washington            0.866667            1.320137
     2             John Adams            0.233333           -1.388010
     3       Thomas Jefferson            0.866667            1.320137
     4          James Madison            0.000000           -2.385748
     5           James Monroe            0.666667            0.464932
     6      John Quincy Adams            0.266667           -1.245476
     7         Andrew Jackson            0.733333            0.750000
     8       Martin Van Buren            0.166667           -1.673078
     9 William Henry Harrison            0.333333           -0.960408
    10             John Tyler            0.666667            0.464932
    11          James K. Polk            0.333333           -0.960408
    12         Zachary Taylor            0.333333           -0.960408
    13       Millard Fillmore            0.400000           -0.675340
    14        Franklin Pierce            0.500000           -0.247738
    15         James Buchanan            0.666667            0.464932
    16        Abraham Lincoln            1.000000            1.890273
    17         Andrew Johnson            0.500000           -0.247738
    18       Ulysses S. Grant            0.333333           -0.960408
    19    Rutherford B. Hayes            0.366667           -0.817874
    20      James A. Garfield            0.666667            0.464932
    21      Chester A. Arthur            0.666667            0.464932
    23      Benjamin Harrison            0.166667           -1.673078
    25       William McKinley            0.233333           -1.388010
    26     Theodore Roosevelt            0.500000           -0.247738
    27    William Howard Taft            0.633333            0.322398
    28         Woodrow Wilson            0.566667            0.037330
    29      Warren G. Harding            0.666667            0.464932
    30        Calvin Coolidge            0.500000           -0.247738
    31         Herbert Hoover            0.633333            0.322398
    32  Franklin D. Roosevelt            0.833333            1.177603
    33        Harry S. Truman            0.400000           -0.675340
    34   Dwight D. Eisenhower            0.533333           -0.105204
    35        John F. Kennedy            0.666667            0.464932
    36      Lyndon B. Johnson            1.000000            1.890273
    37          Richard Nixon            0.633333            0.322398
    38            Gerald Ford            0.666667            0.464932
    39           Jimmy Carter            0.466667           -0.390272
    40          Ronald Reagan            0.733333            0.750000
    41      George H. W. Bush            0.833333            1.177603
    42           Bill Clinton            0.833333            1.177603
    43         George W. Bush            0.633333            0.322398
    44           Barack Obama            0.733333            0.750000

MIn-Max normalization scales the data to the range [0, 1]. Some machine learning algorithms, especially those based on distance metrics or optimization, perform better when the data is in the [0, 1] range. Scaling the data using Min-Max normalization can improve the convergence and performance of these algorithms, while  Z-score normalization transforms data to have a mean of 0 and a standard deviation of 1, making it easier to work with and compare datasets that may have different scales and distributions.